@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-4 d-flex justify-content-center">
            Blazor VLC Media Player
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
